@font-face {
   font-family: 'starduster2ital';
   font-display: swap;
   src: url('file:///C:/Users/Alex%20Muniz/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-02-12_205906/fonts/starduster2ital/font.ttf');
}
